@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin center-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1280px:   Tablet landscape
[1280 - 1800px] normal styles apply
1800px + :      Big desktop


$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        // In media queries "em" & "rem" are not effected by the root #font-size - they refer to the browser settings
        // "em" works better with browsers compared to "rem" - better option for media queries
        // only screen - rules only apply on screens (e.g. not for printed documents)
        @media only screen and (max-width: 37.5em) { // 600px
            @content;
        }
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { // 900px
            @content;
        }
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { // 1280px
            @content;
        }
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { // 1800px +
            @content;
        }
    }
}
